#app {
  overflow: hidden;

  //logo部分
  .logo {
    /*transition: width 0.15s;*/
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 50px;
    width: 241px;
    position: fixed;
    left: 0;
    top: 0;
    line-height: 50px;
    background-color: #304156;

    &.el-menu{
      border-right: none;

      img{
        width: 35px;
      }
    }

    span{
      font-weight: bold;
      font-size: 16px;
      color: rgb(191, 203, 217);
    }

    .el-menu-item{
      padding: 0;
    }

    .el-menu-item:focus, .el-menu-item:hover {
      outline: 0;
      background-color: #001528;
    }
  }

  // 主体区域
  .main-container {
    min-height: 800px;
    //transition: margin-left 0.2s;
    margin-left: 240px;
    background-color: #f0f1f5;
    //padding-bottom: 24px;

    .optOuter{
      margin: 8px 24px;
      background-color: #fff;
    }

    .opt {
      margin: 16px 24px 0 0;
      height: 60px;
      overflow: hidden;

      .list {
        margin-right: 10px;
        float: left;
        text-align: center;
        padding-top: 13px;
        box-sizing: border-box;
        width: 85px;

        &.active{

          i{
            background-color: #4a99fa;

            &:before{
              color: #fff;
            }

            span{
              color: #fff;
            }
          }
        }

        i{
          display: flex;
          justify-content: center;

          &:hover{
            background-color: #4a99fa;

            &:before{
              color: #fff;
            }

            span{
              color: #fff;
            }
          }
        }

        span{
          font-size: 12px;
          color: #666;
          text-align: left;
          margin-left: 5px;
        }

        &:hover{
          &>p{
            color: #4a99fa;
          }
        }
      }

      .optIcon {
        background-color: #fff;
        border-radius: 5px;
        line-height: 35px;
        box-sizing: border-box;
        color: #666;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #e4e4e4;
      }

      &>.dwn-more{
        position: fixed;
        right: 3px;
        top: 150px;
        cursor: pointer;
      }

      .hide-list{
        position: fixed;
        right: 10px;
        top: 210px;
        width: 85px;
        z-index: 500;
        text-align: center;

        span{
          margin-left: 5px;
        }

        &>div{
          &>i:hover{
            background-color: #4a99fa;

            &:before{
              color: #fff;
            }

            span{
              color: #fff;
            }
          }
        }

        i{
          display: flex;
          justify-content: center;
          margin-top: 10px;
        }

        span{
          font-size: 12px;
          color: #666;
        }

      }
    }

    .app-main{
      margin: 8px 24px 50px;
      padding: 20px;
      box-sizing: border-box;
      background-color: #fff;
    }

    .navbar {
      height: 64px;
      line-height: 64px;
      border-radius: 0 !important;
      position: relative;
      background-color: #fff;

      .hamburger-container {
        line-height: 74px;
        height: 64px;
        float: left;
        padding: 0 10px 0 24px;
      }

      .app-breadcrumb.el-breadcrumb[data-v-766392a0]{
        line-height: 64px;
      }
      /* .screenfull {
           position: absolute;
           right: 90px;
           top: 16px;
           color: red;
       }
       .avatar-container {
           height: 50px;
           display: inline-block;
           position: absolute;
           right: 35px;
           .avatar-wrapper {
               cursor: pointer;
               margin-top: 5px;
               position: relative;
               .user-avatar {
                   width: 40px;
                   height: 40px;
                   border-radius: 10px;
               }
               .el-icon-caret-bottom {
                   position: absolute;
                   right: -20px;
                   top: 25px;
                   font-size: 12px;
               }
           }
       }*/

      .right{
        position:absolute;
        right: 5px;
        top: 0;

        i,span{
          font-size:25px;
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }

    .tags-view-container {
      .tags-view-wrapper {
        background: #fff;
        height: 48px;
        border-bottom: 1px solid #d8dce5;
        box-shadow: 0 1px 4px rgba(0,21,41,.08);
        /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);*/

        .tags-view-item {
          display: inline-block;
          position: relative;
          height: 30px;
          line-height: 30px;
          border: 1px solid #d8dce5;
          color: #495060;
          background: #fff;
          padding: 0 8px;
          box-sizing: border-box;
          font-size: 12px;
          margin: 9px;

          &:first-of-type {
            margin-left: 24px;
          }

          &.active {
            background-color: #42b983;
            color: #fff;
            border-color: #42b983;

            &::before {
              content: '';
              background: #fff;
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              position: relative;
              margin-right: 2px;
            }
          }
        }
      }

      .contextmenu {
        margin: 0;
        background: #fff;
        z-index: 100;
        position: absolute;
        list-style-type: none;
        padding: 5px 0;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        color: #333;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);

        li {
          margin: 0;
          padding: 7px 16px;
          cursor: pointer;

          &:hover {
            background: #eee;
          }
        }
      }

      .tags-view-wrapper {
        .tags-view-item {
          .el-icon-close {
            width: 16px;
            height: 16px;
            vertical-align: 2px;
            border-radius: 50%;
            text-align: center;
            transition: all .3s cubic-bezier(.645, .045, .355, 1);
            transform-origin: 100% 50%;

            &:before {
              transform: scale(.6);
              display: inline-block;
              vertical-align: -3px;
            }

            &:hover {
              background-color: #b4bccc;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // 侧边栏
  .sidebar-container {
    background-color: $subMenuBg !important;
    //transition: width 0.2s;
    width: 240px !important;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    //reset element-ui css
    /*.horizontal-collapse-transition {
      transition: none;
      //transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }*/

    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        height: 100%;
      }

      .el-submenu__title{
        transition: none!important;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }

  .hideSidebar {
    .logo {
      width: 80px;
      line-height: 60px;
      text-align: center;

      .el-menu-item{
        padding-left: 0!important;
      }

      .title {
        display: none;
      }
    }

    .sidebar-container {
      width: 80px !important;
      box-sizing: border-box;
      background-color: $subMenuBg !important;
    }

    .main-container {
      margin-left: 80px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 10px !important;
        transition: none;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          transition: none;
          padding: 0;
          text-align: center;
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
            //background-color: $subMenuBg !important;
          }
        }
      }
    }

    .el-menu,.v-enter,.v-enter-active,.el-opacity-transition{
      transition: none;
    }
  }

  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 240px !important;
    background-color: $subMenuBg !important;
    transition: none;

    &:hover {
      background-color: $menuHover !important;
      transition: none;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 240px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      //transition: transform 0.2s;
      width: 240px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        //transition-duration: 0.2s;
        transform: translate3d(-240px, 0, 0);
      }
    }
  }

  //不添加动画
  .withoutAnimation {
    .main-container,
    .sidebar-container,.el-menu,.el-menu--collapse,.v-leave-active,.horizontal-collapse-transition,.v-leave-to {
      transition: none;
    }
  }
}

//mask

