#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    //transition: margin-left 0.2s;
    margin-left: 200px;

    .opt {
      margin: 15px;

      .list {
        margin-right: 8px;
      }

      .optIcon {
        background-color: #4a99fa;
        border-radius: 5px;
        padding: 7px 15px;
        box-sizing: border-box;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  // 侧边栏
  .sidebar-container {
    background-color: $subMenuBg !important;
    //transition: width 0.2s;
    width: 200px !important;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    //reset element-ui css
    /*.horizontal-collapse-transition {
      transition: none;
      //transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }*/
    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        height: 100%;
      }

      .el-submenu__title{
        transition: none!important;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }
  .hideSidebar {
    .logo {
      width: 37px;
      .el-icon-menu {
        display: block;
        line-height: 50px;
        text-align: left;
      }
      .title {
        display: none;
      }
    }
    .sidebar-container {
      width: 36px !important;
      background-color: $subMenuBg !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 10px !important;
        transition: none;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          transition: none;
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
            //background-color: $subMenuBg !important;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 200px !important;
    background-color: $subMenuBg !important;
    transition: none;

    &:hover {
      background-color: $menuHover !important;
      transition: none;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 200px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0;
    }
    .sidebar-container {
      //transition: transform 0.2s;
      width: 200px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        //transition-duration: 0.2s;
        transform: translate3d(-200px, 0, 0);
      }
    }
  }

  //不添加动画
  .withoutAnimation {
    .main-container,
    .sidebar-container,.el-menu,.el-menu--collapse,.v-leave-active,.horizontal-collapse-transition,.v-leave-to {
      transition: none;
    }
  }
}
